@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* banner-container */
.banner-container {
    width: 1280;
    margin: 0px 50px;
    min-height: 800px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;

}

.banner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 72px;
    font-weight: 900;
}
.banner-container p,h1{
    color: white;
}

/* 65%-section-container */

.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    text-align: center;
}

.second-section-content h1{
    color: red;
    text-align: center;
    font-family: inter;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content h3{
    text-align: center;
    font-family: inter;
    font-size: 30px;
    font-weight: 200;
}

.image-container{
    width: 800px;
    height: 500px;
}

.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight-party-container */
.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0;
}

.leftside-conten{
    width: 50%;
    height: 600%;
    border: 2px solid red;
}